@use "base/variables" as *;
@use 'base/global' as *;
@use "components/btns" as *;
@use "components/form" as *;

//layout
@use "layout/header" as *;
@use "layout/hero" as *;
@use "layout/services" as *;
@use "layout/about" as *;
@use "layout/footer" as *;
@use "layout/section-hero" as *;
@use "layout/team" as *;
@use "layout/staff" as *;
@use "layout/feature" as *;
@use "layout/practice" as *;
@use "layout/consultation" as *;
@use "layout/faqs" as *;
@use "layout/contact" as *;