@use "base/variables" as *;
@use 'base/global' as *;
@use "components/btns" as *;

//layout
@use "layout/header" as *;
@use "layout/hero" as *;
@use "layout/services" as *;
@use "layout/about" as *;
@use "layout/footer" as *;
@use "layout/about-hero" as *;
@use "layout/team" as *;
@use "layout/staff" as *;