.about {

  &__container {
    width: 100%;
    max-width: 1218px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-block: 135px 68px;
    margin-bottom: -251px;
    position: relative;
    z-index: 2;
    background: #fff;
    border: 1px solid #FFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    @media (max-width: 768px) {
      margin-bottom: -100px;
    }
  }

  &__image-wrapper {
    width: 100%;
    max-width: 577px;
    margin-inline: auto;
  }

  &__content {
    width: 100%;
    max-width: 896px;
    margin-inline: auto;
    padding-block: 74px 50px;
    padding-inline: 5px;
    text-align: center;
  }

  &__title {
    color: var(--color-primary);
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 38px;
    text-align: center;
  }

  &__description {
    color: var(--color-primary);
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    text-align: center;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px 31px;
    width: 100%;
    max-width: 587px;
    margin-inline: auto;
  }

  &__feature {
    background: var(--bg-primary);
    color: #FFF;
    border-radius: 10px;
    border: 1px solid #FFF;
    width: 100%;
    max-width: 278px;
    padding-block: 32px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  &__cta {
    border-bottom: 1px solid var(--color-secondary);
    text-decoration: none;
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 29px;

  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: 60px;
  }

  .btn {
    font-size: var(--font-size-sm);
    width: 100%;
    max-width: 439px;
    margin-inline: auto;
    padding: 22px 43px;
    font-weight: 400;
    transition: background-color 0.3s ease;

    &:hover {
      background: var(--btn-primary-bg);
    }
  }

  @media (max-width: 768px) {
    &__container {
      padding-block: 40px 20px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 17px;
    }

    &__description {
      font-size: 12px;
    }

    &__content {
      padding-block: 40px 20px;
    }

    &__features {
      grid-template-columns: 1fr;
      gap: 20px;
      place-items: center;
    }

    &__feature {
      max-width: 100%;
      font-size: 20px;
    }

    &__actions {
      margin-top: 24px;
    }

    &__cta {
      font-size: 14px;
      padding-bottom: 16px;
    }

    .btn {
      font-size: 12px;
      padding: 12px 20px;
    }
  }
}