.consultation {

  &__container {
    width: 100%;
    max-width: 728px;
    margin-inline: auto;

    @media (max-width: 768px) {
      padding-inline: 20px;
    }

    p {
      color: var(--color-primary);
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    font-size: var(--font-size-md);
    color: var(--color-primary);
    margin-bottom: 38px;

    @media (max-width: 768px) {
      font-size: var(--font-size-sm);
      margin-bottom: 20px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 52px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
      gap: 10px;
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 18px;
      }

      @media (max-width: 768px) {
        font-size: 12px;

        img {
          width: 14px;
        }
      }
    }
  }
}