.consultation {

  &__container {
    width: 100%;
    max-width: 728px;
    margin-inline: auto;

    @media (max-width: 768px) {
      padding-inline: 20px;
    }

    p {
      color: var(--color-primary);
      margin-bottom: 20px;

      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    font-size: var(--font-size-md);
    color: var(--color-primary);
    margin-bottom: 38px;

    @media (max-width: 768px) {
      font-size: var(--font-size-sm);
      margin-bottom: 20px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 52px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
      gap: 10px;
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 18px;
      }

      @media (max-width: 768px) {
        font-size: 12px;

        img {
          width: 14px;
        }
      }
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px 27px;

    @media (max-width: 768px) {
      gap: 18px 12px;
    }

    input {
      padding-block: 19px;
      padding-left: 29px;
      background: #f3f3f3;
      width: 100%;
      max-width: 350px;
      border-radius: 10px;
      outline: none;
      border: none;
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 400;

      &::placeholder {
        color: var(--color-primary);
        font-size: 16px;
        font-weight: 400;
      }

      @media (max-width: 768px) {
        font-size: 12px;
        padding-block: 12px;
        padding-left: 12px;
        border-radius: 4px;

        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }

  textarea {
    width: 100%;
    font-size: 16px;
    color: var(--color-primary);
    padding-top: 19px;
    padding-left: 29px;
    border-radius: 10px;
    margin-block: 31px;
    border: none;
    outline: none;
    background: #f3f3f3;
    resize: none;
    font-family: inherit;

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 10px 0 28px 12px;
      border-radius: 4px;
      margin-block: 20px;
    }
  }

  .btn {
    font-size: 16px;
    font-weight: 700;
    border: 0;
    margin-left: auto;
    border-radius: 10px;
    padding-inline: 124px;
    cursor: pointer;

    @media (max-width: 768px) {
      padding-inline: 60px;
      font-size: 12px;
    }

    &:hover {
      background: var(--bg-primary);
    }
  }
}