.feature {
  width: 100%;
  max-width: 1257px;
  margin-inline: auto;
  padding-bottom: 87px;

  @media (max-width: 1024px) {
    padding-inline: 20px;
  }

  @media (max-width: 768px) {
    padding-bottom: 40px;
  }

  &__title {
    font-size: var(--font-size-md);
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 67px;

    @media (max-width: 768px) {
      font-size: var(--font-size-sm);
      margin-bottom: 30px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 62px 78px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2,1fr);
      gap: 30px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__card {
    background: var(--color-primary);
    width: 100%;
    max-width: max-content;
    text-decoration: none;
    padding: 37px 25px 25px 43px;
    border-radius: 10px;
    position: relative;

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 20px;
    }

    &:hover {
      background: var(--color-secondary);

      .feature__card-title {
        color: #fff;
      }

      svg path {
        fill: #fff;
      }
    }

    &-title {
      color: var(--color-secondary);
      font-size: 28px;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    &-description {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      color: #fff;
      margin-block: 50px 65px;

      @media (max-width: 768px) {
        font-size: 14px;
        margin-block: 20px 30px;
      }
    }

    &-arrow {
      position: absolute;
      right: 23px;
      bottom: 25px;
    }
  }
}