.header {
  padding-top: 71px;

  &__container {
    width: 100%;
    max-width: 1574px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 67px;
    margin-inline: auto;
  }

  &__logo {
    width: 100%;
    max-width: 209px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #fff;
      transform: translateX(0);
      animation: slideIn 0.3s ease-out;
      padding-top: 60px;
      z-index: 1;
    }
  }

  &__list {
    color: var(--color-primary);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 57px;
    text-transform: capitalize;

    li {
      a {
        color: var(--color-primary);
       text-decoration: none;
       transition: color 0.3s ease;

       &:hover {
         color: var(--color-secondary);
       }
      }

      &:has(.active) a {
        color: var(--color-secondary);
        font-weight: 700;
      }
    }
  }

  &__menu-close, &__menu-open {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__menu-open {
    display: none;
  }

  &__menu-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__menu.active ~ &__menu-close {
    display: flex;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 1224px) {
  .header {
    &__logo {
      max-width: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    padding-top: 20px;

    &__container {
      position: relative;
      max-width: 100%;
      padding-right: 40px;
      padding-left: 33px;
    }

    .btn--secondary {
      font-size: 12px;
      padding: 10px;
    }

    &__menu-open {
      display: flex;
      position: absolute;
      right: 10px;
      top: 4px;
    }

    &__menu {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      justify-content: flex-start;
      padding-top: 80px;
      z-index: 999;
      transform: translateX(-100%);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
        animation: none;
      }
    }

    &__list {
      flex-direction: column;
      gap: 18px;
    }

    &__menu-close {
      display: flex;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;
    }

    .btn--primary {
      display: none;
    }
  }

}