.legals {
  width: 100%;
  max-width: 1094px;
  margin-inline: auto;
  color: var(--color-primary);
  padding: 139px 0 50px 37px;

  @media (max-width: 1024px) {
    padding: 100px 0 30px 20px;
  }

  @media (max-width: 768px) {
    padding: 40px 20px 20px 20px;

    p {
      font-size: 10px;
    }
  }

  p {
    line-height: 1.5;
  }

  .title {
    margin-bottom: 155px;

    @media (max-width: 1024px) {
      margin-bottom: 80px;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}