.practice {
  width: 100%;
  max-width: 1063px;
  margin-inline: auto;
  padding-block: 139px 145px;

  @media (max-width: 768px) {
    padding: 40px 20px 40px 20px;
  }

  .title {
    margin-bottom: 149px;

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__container {

    p {
      color: var(--color-primary);

      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }

  &__intro {
    margin-bottom: 62px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    p {
      line-height: 1.5;
    }

    &-text {
      margin-bottom: 15px;
    }
  }

  &__heading {
    color: var(--color-secondary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 38px;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 15px;
    padding-left: 20px;

    @media (max-width: 768px) {
      font-size: 10px;
    }

    li {
      margin-bottom: 12px;

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }
    }
  }

  &__assistance {
    margin-bottom: 69px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__documents {
    margin-bottom: 48px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

  }

  &__comparison  {

    p {
      margin-bottom: 20px;

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }

  &__comparison, &__documents  {

    h3 {
      margin-bottom: 24px;

      @media (max-width: 768px) {
        margin-bottom: 18px;
      }
    }
  }
}