.services {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    padding-inline: 20px;
    margin-inline: auto;
    background-image: url(/assets/services-bakground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 86px 49px;
    position: relative;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    max-width: 806px;
    text-align: center;
    color: #fff;
  }

  &__heading {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 300;
  }

  &__sub-heading {
    font-size: var(--font-size-md);
    font-weight: 700;
    margin-block: 34px 42px;
    text-transform: capitalize;
  }

  &__description {
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 66px 74px;
    width: 100%;
    max-width: 806px;
    justify-content: center;
    margin-block: 90px;
  }

  .arrow {
    position: absolute;
    right: 50px;
    top: 50%;
    display: none;
  }

  &__link {
    text-decoration: none;
    width: 100%;
    max-width: 414px;
    font-size: 28px;
    font-weight: 700;
    padding-block: 60px;
    border-radius: 10px;
    color: #FFF;
    border: 2px solid #fff;
    transition: color 0.3s ease, background 0.3s ease, border-radius 0.3s ease;
    background: transparent;
    position: relative;
    text-align: center;

    &:hover {
      background: var(--color-secondary);
      border: 2px solid #A3934E;
      border-radius: 76px;

      .arrow {
        display: block;
      }
    }
  }

  &__cta {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 29px;
    border-bottom: 1px solid var(--color-secondary);
    transition: border-color 0.3s ease;

    &:hover {
      border-color: #fff;
    }
  }

  &__logo {
    width: 100%;
    max-width: 33px;
    position: absolute;
    right: 45px;
    bottom: 37px;
  }

  @media (max-width: 768px) {

    &__items {
      grid-template-columns: 1fr;
      gap: 40px;
      place-items: center;
      margin-block: 40px;
    }

    &__container {
      padding-block: 40px 20px;
    }

    &__sub-heading {
      font-size: var(--font-size-sm);
      margin-block: 20px;
    }

    &__description {
      font-size: 14px;
    }

    &__link {
      font-size: 20px;
      padding-block: 22px;
      max-width: 100%;
    }

    &__cta {
      font-size: 14px;
      padding-bottom: 16px;
    }

    &__logo {
      width: 24px;
      right: 18px;
      bottom: 11px;
    }
  }
}
