.team {
  scroll-margin-top: 100px;
  width: 100%;
  max-width: 1276px;
  margin-inline: auto;
  margin-bottom: 136px;

  @media (max-width: 1224px) {
    padding-inline: 20px;
    margin-bottom: 60px;
  }

  &__heading {
    color: var(--color-primary);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 113px;

    &-title {
      color: var(--color-secondary);
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 29px;

      @media (max-width: 1224px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    @media (max-width: 1224px) {
      gap: 20px;
    }

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      place-items: center;
    }

    &-item {
      width: 100%;
      max-width: 350px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
    }

    &-body {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 10px;
    background: #9A9A9A;

    &:has(img) {
      height: auto;
      background: transparent;
    }

    img {
      border-radius: 10px;
    }

    @media (max-width: 1224px) {
      max-width: 100%;
    }
  }

  &__title {
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 700;
    margin-block: 50px 18px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-block: 24px 12px;
    }
  }

  &__sub-title {
    font-size: var(--font-size-sm);
    color: var(--color-secondary);
    font-weight: 400;
    margin-bottom: 37px;

    @media (max-width: 1224px) {
      margin-bottom: 18px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 14px;
    }
  }

  &__description {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 36px;

    @media (max-width: 768px) {
      font-size: 10px;
      margin-bottom: 20px;
    }
  }

  &__list {
    list-style: disc;
    margin-bottom: 49px;
    padding-left: 31px;

    li {
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 400;
      line-height: 2;

      @media (max-width: 768px) {
        font-size: 10px;
      }
    }

    @media (max-width: 1224px) {
      margin-block: 18px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 38px;
    margin-top: auto;

    a {
      color: var(--color-secondary);
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 12px;

      @media (max-width: 768px) {
        font-size: 12px;
        gap: 5px;

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    @media (max-width: 1224px) {
      margin-bottom: 20px;
    }
  }

  .btn {
    font-size: var(--font-size-sm);
    width: 100%;
    max-width: max-content;
    padding: 22px 33px;
    font-size: 18px;
    font-weight: 400;
    transition: background-color 0.3s ease;

    &:hover {
      background: var(--btn-primary-bg);
    }

    @media (max-width: 1224px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      padding: 12px 20px;
    }
  }
}