.section__hero {

  .title {
    margin-bottom: 36px;

    @media (max-width: 768px) {
      margin-bottom: 18px;
    }
  }

  &-container {
    max-width: 880px;
    margin-inline: auto;
    padding-block: 123px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }
  }

  &-description {
    color: var(--color-primary);
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 49px;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 16px;
    }
  }

  .btn {
    font-size: var(--font-size-sm);
    width: 100%;
    max-width: max-content;
    padding: 22px 43px;
    font-weight: 400;
    transition: background-color 0.3s ease;

    &:hover {
      background: var(--btn-primary-bg);
    }

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 12px 20px;
    }

  }
}