.btn {
  text-decoration: none;
  padding: 13px 33px;
  color: #fff;
  border: 0;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.btn--primary {
  background-color: var(--primary-btn-bg);
  font-weight: 700;
}

.btn--secondary {
  background-color: var(--secondary-btn-bg);
  font-weight: 400;
}
