.btn {
  text-decoration: none;
  padding: 13px 33px;
  color: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  max-width: max-content;
  font-family: inherit;

  &:has(.arrow)  {
    gap: 22px;
    justify-content: center;
  }
}

.btn--primary {
  background-color: var(--btn-primary-bg);
  font-weight: 700;
}

.btn--secondary {
  background-color: var(--btn-secondary-bg);
  font-weight: 400;
}
