:root {
--btn-primary-bg: #292C3D;
--btn-secondary-bg: #A3934E;

--gradient-primary: radial-gradient(50% 50% at 50% 50%, #A3934E 0%, #FFFFFF 100%);
--gradient-secondary: radial-gradient(50% 50% at 50% 50%, #A3934E 0%, #FFFFFF 100%);
--gradient-section: radial-gradient(50% 50% at 50% 50%, #A3934E 0%, #FFFFFF 100%);

--bg-primary: #292C3D;
--bg-secondary: #A3934E;

--color-primary: #292C3D;
--color-secondary: #A3934E;

--font-size-lg: 65px;
--font-size-md: 40px;
--font-size-sm: 24px;

}