:root {
--btn-primary-bg: #292C3D;
--btn-secondary-bg: #A3934E;

--bg-primary: #292C3D;
--bg-secondary: #A3934E;

--color-primary: #292C3D;
--color-secondary: #A3934E;

--font-size-lg: 65px;
--font-size-md: 40px;
--font-size-sm: 24px;
}